<div class="site-wrapper clearfix">
    <div class="container">
        <div class="mobile-wrapper clearfix">
            <div class="app-body clearfix">
                <div class="main content" id="div1" ng-show="!isDniSet">
                    <h1><b>11vo Simposio Argentino en Endocrinología Pediátrica Novo Nordis</b></h1>

                    <p>9 y 10 de Marzo de 2017 | Hotel Sofitel, La Reserva - Cardales</p>

                    <div class="form_area">
                        <h3 style="color: #858484;">Complete su DNI para ingresar al sitio</h3>

                        <div class="login_foram">
                            <input ng-model="dni" type="text">
                            <button ng-click="submitDni(dni)" class="login_btn">ok</button>
                        </div>
                        <div class="text_center">
                            <p class="secend_p">En este sitio encontrará toda la información sobre el<br/> 15to Simposio Novo Nordisk® de Hemofilia
                                <b>11vo Simposio Argentino en Endocrinología Pediátrica Novo Nordisk</b>
                            </p>
                        </div>
                    </div>
                    <div class="text_center">
                        <div class="logo_area">
                            <img src="images/logo.jpg" />
                        </div>
                        <p class="bottom_line" style="color: #858484;">HC943/NOV2016-AR | Material entregado a profesionales de la salud.</p>
                    </div>

                    <!-- Modal -->
                </div>

                <div class="inner content main lg_img_area" id="div2" ng-show="isDniSet">
                    <h1><b>11vo Simposio Argentino en Endocrinología Pediátrica Novo Nordis</b></h1>

                    <h3 style="color: #858484;">9 y 10 de Marzo de 2017<br/> Hotel Sofitel, La Reserva - Cardales</h3>

                    <div class="large_img_endo">
                        <img src="images/lg_img_endo.jpg" />
                    </div>
                    <p class="after_lg_img color_gry">
                        En este site encontrará toda la información sobre el <br>
                        <b>11vo Simposio Argentino en Endocrinología Pediátrica Novo Nordisk</b>

                    </p>
                </div>

                <div class="inner content" id="div3" ng-show="isDniSet">
                    <div class="inner-nav">
                        <div class="inner-logo">
                            <img src="images/logo.jpg" width="60" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="title_area">
                            <h4 class="title"><span>
                            <img src="images/contact.png">
                        </span> contacto

                            </h4>
                        </div>

                        <div class="content_area">
                            <h1>
                                <b> Mario Mendoza Biblos</b><br/> FCm Travel Solutions</h1>

                            <h2>
                                <span> T +5411 5031-7799 int. 7729</span><br/> E-mail: mmendoza@biblostravel.com</h2>
                        </div>
                    </div>

                </div>

                <div class="inner content" id="div4" ng-show="isDniSet">
                    <div class="inner-nav">
                        <div class="inner-logo">
                            <img src="images/logo.jpg" width="60" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="title_area">
                            <h4 class="title"><span>
                            <img src="images/search.png">
                        </span> ubicación | traslados</h4>
                        </div>


                        <div class="content_area">
                            <h1>
                                <b>Hotel Sofitel | La Reserva Cardales</b><br/>
                            </h1>

                            <h3>
                                Ruta Panamericana No. 9, Km 61<br/> Campana 2804, Buenos Aires - Argentina</h3>


                            <p class="site_url">www.sofitel.com/es/hotel-6519-sofitel-la-reserva-cardales</p>

                            <div class="map embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13134.911373064797!2d-58.362065!3d-34.6110429!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb90c8bd50c9b13e8!2sFaena+Art!5e0!3m2!1sen!2sar!4v1469661441318"
                                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                            <h2>
                                <b> Check in:</b> 8 de marzo 15:00 hs<br/>
                                <b>Check out:</b> 15 de marzo 12:00 hs</h2>

                            <p class="sm_text">
                                <i>Siguiendo con los lineamientos de las guias internacionales
                                farmacéuticas y de las propias políticas de Novo Nordisk de Etica en los Negocios, la
                                empresa no acepta la participación de
                                acopmpañantes a los invitados al 11vo Simposio Argentino en Endocrinología Pediátrica
                                Novo Nordisk</i>
                            </p>
                            <hr/>
                            <h1>
                                <b>Traslados</b><br/>
                            </h1>

                            <h3>
                                Si usted reside en el interior del país, un mes antes dele vento, la agencia “Biblos”, se pondrá en contacto con usted para
                                coordinar la logística desde su lugar de origen hacia y desde Buenos Aires. </h3>
                            <p class="caba">
                                Si usted reside en CABA o GBA, le informamos que se dispondrá de 2 micros para trasladarse al simposio.
                            </p>
                            <h2 class="micro">
                                <b>Micro 1:</b><br/>
                                <span class="color_blue">Ida:</span> Punto de salida: XXX - Hora:XXX<br/>
                                <span class="color_blue">Vuelta: </span>Punto de salida: XXX - Hora:XXX<br/><br/>

                                <b>Micro 2:</b><br/>
                                <span class="color_blue">Ida: </span>Punto de salida: XXX - Hora:XXX<br/>
                                <span class="color_blue"> Vuelta:</span> Punto de salida: XXX - Hora:XXX
                            </h2>
                            <p class="caba">
                                <b>Le pedimos que al momento de realizar la
                                inscripción nos indique si tomará algún micro.</b> Habrá
                                disponible cocheras sin cargo dentro del hotel para quienes vayan en auto.<br/><br/> De acuerdo
                                a las políticas internas de Etica en los Negocios, le informamos que los pasajes de ida y
                                vuelta a los eventos científicos no podrán ser cambiados por Novo Nordisk ni por la agencia
                                de viaje.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="inner content" id="div5" ng-show="isDniSet">
                    <div class="inner-nav">
                        <div class="inner-logo">
                            <img src="images/logo.jpg" width="60" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="title_area">
                            <h4 class="title"><span>
                            <img src="images/prospect.png">
                        </span> agenda

                            </h4>
                        </div>

                        <div class="content_area">
                            <p style="color: #0C2477;"><b>Agenda 9 de Marzo</b></p>
                            <div class="eventTime">09:00 - 09:15 hs. </div>
                            <div class="eventDescription">Bienvenida / Welcome<br> Novo Nordisk<br>Apertura / Opening<br>I. Bergadá </div>
                            <div class="eventTime">09:15 - 10:00 hs. </div>
                            <div class="eventDescription">Avances en el diagnóstico y manejo de Diabetes Insípida en pediatría<br> New insights in diagnosis
                                and management in diabetes insipidus in paediatrics<br>Mohamad Maghnie<br>Coordinador: Hugo
                                Fideleff
                            </div>
                            <div class="eventTime">10:00 - 10:20 hs. </div>
                            <div class="eventDescription">P&R / Q&A</div>
                            <div class="eventTime">10:20 - 11:05 hs. </div>
                            <div class="eventDescription">Desorden XY del desarrollo sexual (DSD XY) en niños: manejo inicial y a largo plazo<br>XY Disorder
                                of Sexual Development in boys: an approach to initial and long-term management <br>Ahmed
                                Sayed Faisal<br>Coordinador: Verónica Figueroa</div>
                            <div class="eventTime">11:05 - 11:25 hs. </div>
                            <div class="eventDescription">P&R / Q&A</div>
                            <div class="eventTime">11:25 - 11:50 hs. </div>
                            <div class="eventDescription">Break</div>
                            <div class="eventTime">11:50 - 12:50 hs. </div>
                            <div class="eventDescription">Caso Clínico 1<br>Case Study 1<br><br>Coordina: Debora Zantleifer<br>Disertantes: Ignacio Bergadá;
                                Mohamad Maghnie</div>
                            <div class="eventTime">12:50 - 14:15 hs. </div>
                            <div class="eventDescription">Almuerzo / Lunch</div>
                            <div class="eventTime">14:15 - 15:00 hs. </div>
                            <div class="eventDescription">Sindrome Hiperosmolar y Adipsia.<br>Hyperosmolar syndrome & adipsia<br><br>Mohamad Maghnie<br>Coordina:
                                Mónica Warman</div>
                            <div class="eventTime">15:00 - 15:20 hs. </div>
                            <div class="eventDescription">P&R / Q&A</div>
                            <div class="eventTime">15: 20 - 16:20 hs. </div>
                            <div class="eventDescription">Caso Clínico 2<br>Case Study 2<br><br>Coordina: Alicia Belgorosky Disertantes: Mariana Costanzo,
                                Ahmed Sayed Faisal</div>
                            <div class="eventTime">16:20 - 16:45 hs. </div>
                            <div class="eventDescription">Break</div>
                            <div class="eventTime">16:45 - 18:15 hs. </div>
                            <div class="eventDescription">Minisimposio: “Patología Suprarrenal”<br>“MINISYMPOSIUM in Adrenal pathology”<br> Síndrome de
                                Cushing – Enfoque por imágenes<br> Cushing Syndrome – Imagenological approach<br>Karina Danilowicz
                                Síndrome de Cushing – Enfoque del bioquímico<br>Cushing Syndrome – Biochemistry approach<br>Claudia
                                Insúa Causas raras de insuficiencia adrenal congénita: Espectro clínico y molecular<br>Clinical
                                and molecular spectrum of rare causes of Congenital Adrenal Insufficiency<br>Débora Braslavsky<br>                                P&R / Q&A<br>Coordinador: Marta Ciaccio</div>
                            <div class="eventTime">18:15 hs. </div>
                            <div class="eventDescription">Cierre día 1 End of Day 1</div>
                            <br>
                            <br>
                            <p style="color: #0C2477;"><b>Agenda 9 de Marzo</b></p>
                            <div class="eventTime">09:00 - 11:00 hs.</div>
                            <div class="eventDescription">Meet the professor Cáncer de Tiroides / Thyroid Cancer Ana Chiesa RASopatías / RASopathies Ana
                                Keselman Ginecomastia / Gynecomastia Hugo Boquete Hipercalcemia / Hypercalcemia Oscar Brunetto
                                AMH en la infancia y adolescencia / AMH in childhood and adolescence Rodolfo Rey Pubarca
                                Precoz / Precocious Pubarche Gabriela Guercio Insulino Resistencia en Pediatria / Insulin
                                Resistence in Pediatrics Zelmira Gunstche Pruebas dinámicas en endocrinología pediátrica
                                / Dinamic tests in pediatric endocrinology Liliana Muñoz Endocrinología en el paciente con
                                Enfermedad Renal Crónica / Endocrinology in patients with Chronic Renal Disease Silvia Gil
                                Hipertensión endocrina / Endocrine Hypertension Ana Vieites Manejo de Corticoterapia crónica
                                / Chronic corticotherapy management Carolina Arias Cau Hiperandrogenismo en adolescencia
                                / Hyperandrogenism in adolescence Silvia Martín</div>
                            <div class="eventTime">11:00 - 11:30 hs.</div>
                            <div class="eventDescription">Break</div>
                            <div class="eventTime">11:30 - 12:15 hs.</div>
                            <div class="eventDescription">Crecimiento y salud ósea en condiciones crónicas de la infancia: fisiopatología y tratamiento
                                Growth and Bone health in chronic childhood conditions: pathophysiology and treatment<br>Ahmed
                                Sayed Faisal<br>Coordina: Analía Morín</div>
                            <div class="eventTime">12:15 -12:35 hs.</div>
                            <div class="eventDescription">P&R / Q&A </div>
                            <div class="eventTime">12:35 - 12.50 hs.</div>
                            <div class="eventDescription">Conclusiones y cierre Conclusions & Closing Remarks </div>
                            <div class="eventTime">12:50 hs.</div>
                            <div class="eventDescription" style="    margin-bottom: 100px;">Almuerzo / Lunch</div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="inner content" id="div6" ng-show="isDniSet">
                    <div class="inner-nav">
                        <div class="inner-logo">
                            <img src="images/logo.jpg" width="60" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="inner-content">
                        <div class="title_area">
                            <h4 class="title">
                                <span>
                                    <img src="images/information.png">
                                </span> inscripción workshops
                            </h4>
                        </div>

                        <div class="content_area">
                            <h1><b>Workshops</b></h1><br/>
                            <div class="time_duration">
                                9.00 a 10.30 hs
                            </div>
                            <ul class="work_shop_list">
                                <li ng-repeat="workshop in workshops">
                                    <div class="workshop_content">
                                        <h3><a ng-click="enroll(workshop)">{{ workshop.name }}</a></h3>
                                        <h4>{{ workshop.description }}</h4>
                                    </div>
                                    <div class="vacates">
                                        <span>Vacantes</span><br/> {{ workshop.capacity }}
                                        <hr/> {{ workshop.capacity }}
                                    </div>
                                </li>
                            </ul>
                            <!--<div class="time_duration">
                                9.00 a 10.30 hs
                            </div>
                            <ul class="work_shop_list">
                                <li>
                                    <div class="workshop_content">
                                        <h3>TERAPIA FÍSICA</h3>
                                        <h4>Moderadora XXXXX</h4>
                                    </div>
                                    <div class="vacates">
                                        <span>Vacantes</span><br/> 15
                                        <hr/> 15
                                    </div>
                                </li>
                                <li>
                                    <div class="workshop_content">
                                        <h3>TERAPIA FÍSICA</h3>
                                        <h4>Moderadora XXXXX</h4>
                                    </div>
                                    <div class="vacates">
                                        <span>Vacantes</span><br/> 15
                                        <hr/> 15
                                    </div>
                                </li>
                                <li>
                                    <div class="workshop_content">
                                        <h3>TERAPIA FÍSICA</h3>
                                        <h4>Moderadora XXXXX</h4>
                                    </div>
                                    <div class="vacates">
                                        <span>Vacantes</span><br/> 15
                                        <hr/> 15
                                    </div>
                                </li>
                                <li>
                                    <div class="workshop_content">
                                        <h3>TERAPIA FÍSICA</h3>
                                        <h4>Moderadora XXXXX</h4>
                                    </div>
                                    <div class="vacates">
                                        <span>Vacantes</span><br/> 15
                                        <hr/> 15
                                    </div>
                                </li>
                                <li>
                                    <div class="workshop_content">
                                        <h3>TERAPIA FÍSICA</h3>
                                        <h4>Moderadora XXXXX</h4>
                                    </div>
                                    <div class="vacates">
                                        <span>Vacantes</span><br/> 15
                                        <hr/> 15
                                    </div>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-footer">
                <ul class="nav foot-nav">
                    <li class="active footer-li home-li">
                        <a id="showdiv2">
                            <span class="footer-icon">
                                <img src="images/icon1.png" class="hoverimg" data-alt-src="images/icon1-hover.png">
                                <img src="images/icon1-hover.png" class="newimg">
                            </span>
                        </a>
                    </li>
                    <li class="footer-li">
                        <a id="showdiv3">
                            <span class="footer-icon">
                                <img src="images/icon3.png" class="hoverimg" data-alt-src="images/icon3-hover.png">
                                <img src="images/icon3-hover.png" class="newimg">
                            </span>
                        </a>
                    </li>
                    <li class="footer-li">
                        <a id="showdiv4">
                            <span class="footer-icon">
                                <img src="images/icon4.png" class="hoverimg" data-alt-src="images/icon4-hover.png">
                                <img src="images/icon4-hover.png" class="newimg">
                            </span>
                        </a>
                    </li>
                    <li class="footer-li">
                        <a id="showdiv5">
                            <span class="footer-icon">
                                <img src="images/icon5.png" class="hoverimg" data-alt-src="images/icon5-hover.png">
                                <img src="images/icon5-hover.png" class="newimg">
                            </span>
                        </a>
                    </li>
                    <li class="footer-li">
                        <a id="showdiv6">
                            <span class="footer-icon">
                                <img src="images/icon2.png" class="hoverimg" data-alt-src="images/icon2-hover.png">
                                <img src="images/icon2-hover.png" class="newimg">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var userID = 0;

    $(".foot-nav a").click(function () {
        $('.foot-nav li').removeClass('active');
        $(this).parent().addClass('active');

        var divId = "#div" + $(this).attr("id").replace("showdiv", "");
        $(".content").hide();
        $(divId).fadeIn();

        if ($(this).parent().hasClass('home-li')) {
            $('body').addClass('home');
        } else {
            $('body').removeClass('home');
        }
    });

    $(".footer-li").hover(function () {
        var $this = $(this).find('img.hoverimg');
        var newSource = $this.data('alt-src');
        $this.data('alt-src', $this.attr('src'));
        $this.attr('src', newSource);
    });

    $(".footer-li a").click(function () {
        $('.hoverimg').show();
        $('.newimg').hide();
        $(this).find('.hoverimg').hide();
        $(this).find('.newimg').show();
    });

    // function checkUser() {
    //     $.ajax({
    //         type: "POST",
    //         url: "login.php?password=" + document.getElementById("password").value,
    //         success: function (response) {
    //             $('#loginModal').modal('hide');
    //             $(".modal-backdrop").hide();
    //             userID = response;
    //             if (response == 0) {
    //                 alert('Usuario o contraseña incorrectos');
    //                 $('#loginModal').modal('show');
    //             }

    //         }
    //     });
    // }

    // function confirmAsistance() {
    //     var r = confirm('¿Desea confirmar su asistencia al evento?');

    //     if (r == true) {
    //         $.ajax({
    //             type: "POST",
    //             url: "user.php?id=" + userID,
    //             success: function (response) {
    //                 if (response == 0) {
    //                     alert('Usuario o contraseña incorrectos');
    //                     $('#loginModal').modal('show');
    //                 }
    //             }
    //         });
    //     } else {
    //         //cancelo
    //     }

    // }

    setInterval(function () {
        if ($('#div1').is(':visible')) {
            $(".app-footer").css("display", "none");
        } else {
            $(".app-footer").css("display", "block");
        }
    }, 0);
</script>